# copy to .env and edit values 

ORACLE_DB_HOST="oracle_db_host"
ORACLE_DB_PORT=1521
ORACLE_DB_SID="oracle_db_sid"
ORACLE_DB_USERNAME="oracle_db_username"
ORACLE_DB_PASSWORD="oracle_db_password"
DSSP_BINARY_PATH="/share/apps/dssp-4.0.2/bin/mkdssp"
DSSP_PDB_DICT="/share/apps/libcifpp-3.0.0/share/libcifpp/mmcif_pdbx_v50.dic"
FS_BINARY_PATH="~/code/foldseek/bin/foldseek"
FS_DB_PATH="~/data/databases/foldseek/cath_s95/cath_s95_db"
FS_TMP_PATH="tmp_fs/"