executor {
    name = 'sge'
    queueSize = 10
}

process {
    withLabel: default_sge {
        executor = 'sge'
        beforeScript = "source ${launchDir}/platforms/ucl_cs_cluster/source"
        cpus = 1
        memory = '4 GB'
        time = '10min'
        clusterOptions = '-S /bin/bash\n#$ -l tmem=4G'
    }
}

process {
    withLabel: default_local {
        executor = 'local'
    }
}
